CompileFlags:
  Add:
    - "-I/Applications/ArmGNUToolchain/14.3.rel1/arm-none-eabi/arm-none-eabi/include"
    - "-I/Applications/ArmGNUToolchain/14.3.rel1/arm-none-eabi/lib/gcc/arm-none-eabi/14.3.1/include"
    - "-I/Applications/ArmGNUToolchain/14.3.rel1/arm-none-eabi/lib/gcc/arm-none-eabi/14.3.1/include-fixed"
    - "--target=arm-none-eabi"